---
layout: default
title: Home
---

<h1 style="font-size:130%;">Hello World!</h1>
<p>Welcome to my blog. I'll mostly be documenting topics I've found
interesting to learn. I also hope to provide a few concise but 
comprehensive guides on programming languages and other subjects. 
</p>


<!-- all guides -->
<h1 class="category-title">Comprehensive Guides<p></p></h1>
<div class="posts">
  <div class="post">
    <h1 class="post-title">
      <!-- guide titles and links -->
      <a href="{{ site.baseurl }}
          {% link _posts/2018-06-13-c-as-second-language.md%}">
          C as a Second Language
      </a>

    </h1>
  </div>
</div>


<!-- all other posts -->
<h1 class="category-title">Other Material<p></p></h1>
<div class="posts">
  {% for post in paginator.posts %}
    {% if post.categories contains 'learning' %}
      {% continue %}
    {% endif %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <!-- <span class="post-date">{{ post.date | date_to_string }}</span> -->

    <!-- Remove Words {{ post.content | strip_html | truncatewords: 50}} -->
    <!-- {{ post.content }} -->
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

