---
layout: default
---

<div class="post">
  <h2 class="post-title">{{ page.title }}</h2>
<!--  <span class="post-date">{{ page.date | date_to_string }}</span> -->
  {{ content }}
</div>


{% if page.relatedhide != true %} 
<div class="related">
  <h1>Related Posts</h1>
  <ul class="related-posts">

  {% assign maxRelated = 2 %}
  {% assign minCommonTags = 1 %}

    {% for post in site.posts %}

    <!-- filters -->
    {% if post.hidden %}
        {% continue %}
    {% endif %}
    {% if post.url == page.url %}
      {% continue %}
    {% endif %}
    {% if post.relatedhide == true %} 
      {% continue %}
    {% endif %}
    {% if page.categories contains "learning" %}
      {% if post.categories contains "learning" %}
        {% continue %}
      {% endif %}
    {% endif %}

      {% assign sameTagCount = 0 %}
      {% assign commonTags = '' %} 
      {% for cat in post.categories %}
        {% if page.categories contains cat %}
          {% assign sameTagCount = sameTagCount | plus : 1 %}
          {% capture tagmarkup %} <span class="label label-default">
            {{ cat }}</span>
          {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endfor %}
      {% if sameTagCount >= minCommonTags %}
        {% assign words = commonTags | split: ' ' %}
        {% capture titlecase %}{% for word in words %}{{ word | capitalize }} {% endfor %}{% endcapture %}
        <li>
            <h3>
            <a href="{{ post.url }}">
                {{ post.title }}
                <small>{{ titlecase }}</small>
            </a>
            </h3>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}
